<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/codebase/webix.css">
    <script type="text/javascript" charset="utf-8" src="/codebase/webix_debug.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
<!--     <form action="/edit" method="post">
    	<div>
    		<label for="">姓名</label>
    		<input type="text" id="" name="">
    	</div>
    	<div>
    		<label for="">身份證字號</label>
    		<input type="text" id="" name="">
    	</div>
    	<div>
    		<label for="">性別</label>
    		<input type="text" id="" name="">
    	</div>
    	<div>
    		<label for="">出生日期</label>
    		<input type="date" id="" name="">
    	</div>
    	<div>
    		<label for="">聯絡電話</label>
    		<input type="text" id="" name="">
    	</div>
    	<div>
    		<label for="">聯絡地址</label>
    		<input type="text" id="" name="">
    	</div>
    	<div>
    		<input type="submit" name="" value="新增">
    		<input type="submit" name="" value="修改">
    		<input type="submit" name="" value="刪除">
    	</div>
    </form>	 -->
    <div id="list"></div>
	<script type="text/javascript" charset="utf-8" src="/javascripts/employees_op.js">

	</script>
  </body>
</html>