<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/codebase/webix.css">
    <script type="text/javascript" charset="utf-8" src="/codebase/webix_debug.js"></script>
  </head>
  <body>
  	<div id="layout"></div>
	<script type="text/javascript" charset="utf-8" src="/javascripts/employees_op.js">
	</script>
  </body>
</html>